<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Second section : Unsupervised task </center>


In this notebook you will be building and training an unsupervised learning model to cluster your data.

For this task we will be using another clustering method called "Agglomerative Clustering" For this task : 
It's a hierarchical clustering method. The main idea is to merge examples until the desired number of clusters is achieved. 
 
 Steps for this task: 
 1. Load the already clean dataset 
 2. Take into consideration that in this task we will not be using the target variable "Category" as we are trying to cluster the data. 
 
 3. Cluster numbers should be equal to the number of categories we have 
 4. We will add those clusters numbers as a feature (column in our dataset) 
 5. Build your model using the SKlearn AgglomerativeClustering class 
 6. Cluster your data and that as a column to your dataset
 5. Save the new dataset with the additional column as "clustered_HepatitisC.csv"

## 1. Loading the data 
1. Load the clean data 
2. Keep only the needed **Columns**

In [4]:
import pandas as pd 
from sklearn.cluster import AgglomerativeClustering

In [5]:
# Load the dataset 
df = pd.read_csv('HepatitisCdata_cleaned.csv')

In [6]:
df.head()

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0,32,1,0.350669,0.101653,0.020962,0.036694,0.026461,0.367578,0.218447,0.091495,0.011757,0.535398
1,2,0,32,1,0.350669,0.145571,0.052713,0.044990,0.012243,0.650434,0.408981,0.061619,0.017172,0.701327
2,3,0,32,1,0.475483,0.156427,0.108816,0.134014,0.020932,0.494997,0.457524,0.072822,0.044400,0.763274
3,4,0,32,1,0.420505,0.100419,0.091554,0.038290,0.071485,0.394263,0.401699,0.067221,0.045328,0.683628
4,5,0,32,1,0.361070,0.154947,0.097719,0.045310,0.034755,0.515677,0.350728,0.063486,0.039295,0.528761

In [8]:
# To-Do : We will select only the columns to work with = all columns except the id and the Category 
columns_names = df.columns.tolist()
columns_to_remove = ['ID', 'Category']
for column in columns_to_remove: columns_names.remove(column)

columns_names

['Age',
 'Sex',
 'ALB',
 'ALP',
 'ALT',
 'AST',
 'BIL',
 'CHE',
 'CHOL',
 'CREA',
 'GGT',
 'PROT']

## 2. Build the clusting model and cluster the data 
1. Build the model 
2. Fit the model to the data 
3. Cluster all data points and add that as a column

In [13]:
# To-Do: set the number of clusters to be equal to the number of classes ( categories)
n_clusters = df['Category'].nunique()

In [14]:
# define the model
model = AgglomerativeClustering(n_clusters=n_clusters)

In [15]:
#To-Do : fit model and predict clusters
model.fit(df[columns_names])
yhat = model.labels_

In [16]:
# To-Do :Add the cluster as a column to the data frame 
df['cluster'] = yhat

In [17]:
df

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,0,32,1,0.350669,0.101653,0.020962,0.036694,0.026461,0.367578,0.218447,0.091495,0.011757,0.535398,0
1,2,0,32,1,0.350669,0.145571,0.052713,0.044990,0.012243,0.650434,0.408981,0.061619,0.017172,0.701327,0
2,3,0,32,1,0.475483,0.156427,0.108816,0.134014,0.020932,0.494997,0.457524,0.072822,0.044400,0.763274,0
3,4,0,32,1,0.420505,0.100419,0.091554,0.038290,0.071485,0.394263,0.401699,0.067221,0.045328,0.683628,0
4,5,0,32,1,0.361070,0.154947,0.097719,0.045310,0.034755,0.515677,0.350728,0.063486,0.039295,0.528761,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,4,62,0,0.254086,1.000000,0.015413,0.318124,0.194313,0.276851,0.591019,0.044534,1.000000,0.524336,1
611,612,4,64,0,0.135215,0.225759,0.006165,0.107849,0.075829,0.008005,0.192961,0.051349,0.048577,0.586283,3
612,613,4,64,0,0.209510,0.187515,0.008015,0.282068,0.186414,0.016011,0.266990,0.054803,0.092358,0.823009,3
613,614,4,46,0,0.268945,0.140597,0.117448,0.164008,0.075829,0.142762,0.336165,0.041079,0.070390,0.579646,2
614,615,4,59,0,0.313522,0.140597,0.305487,0.221442,0.044234,0.510340,0.469660,0.055084,0.045637,0.513274,1

## 3. Save the new dataset with the additional column

In [18]:
# To-Do save the file , Do not forget to drop the index 
df.to_csv('clustered_HepatitisC.csv', index=False)